discord.py
groq
aiohttp
requests
orjson
psutil
colorthief
vt-py
fastapi
uvicorn
SQLAlchemy
asyncpg
alembic
apscheduler
pywebpush
cryptography
statsmodels
Pillow>=10.0.0
flask>=3.0.0
flask-wtf>=1.2.0
flask-limiter>=3.5.0
yt-dlp
mutagen
imageio-ffmpeg
rcssmin
rjsmin
flask-minify
